<body>
<label>
  User Name:
<input type="text"[formControl]="uname">
</label><br>
<h1>User name is </h1>{{uname.value}}
<br>
<hr>
<br>
  <button (click)="updateName()">Update user name to Amitava</button>

  <hr>
  <br><br>
  <label>
    Enter Height of Subham
  </label>
  <input type="text"[formControl]="ph1">
<br>
<label>
  Enter Height of Sanket
</label>

<input type="text"[formControl]="ph2">

<br>
<button (click)="findTaller()">Who is Taller???</button>
<br>
<span *ngIf="tall;else anudip">Subham is Taller</span>
<ng-template #anudip>Sanket is Taller</ng-template>
<br>
<table border="1">
<tr>
  <td>Product Name</td>
  <td>Price</td>
  <td>Company</td>
</tr>
<tr *ngFor="let x of products">
<td>{{x.name}}</td>
<td>{{x.price}}</td>
<td>{{x.company}}</td>
</tr>
</table>
</body>
